coreapi

django>=2.0.0
djangorestframework>=3.8.2
djangorestframework-jwt

django-cors-headers
django-environ
django-extensions
django-filter

gunicorn

ipython

markdown

pygments
pytest
pytest-django
pyyaml

whitenoise

