click
coreapi

django>=2.0.0,<2.2
djangorestframework>=3.8.2
djangorestframework-jwt

django-cors-headers
django-debug-toolbar
django-environ
django-extensions
django-filter
django-kronos

gunicorn[gevent]

markdown

psycopg2-binary

pygments
pytelegraf
pytest
pytest-django
pyyaml

raven

whitenoise

# 私有库包
